<div class="container">
    <div class="col-md-8">
        <h2>Sensor</h2>
        <div ng-show="newSensor" class="panel panel-default">
            <form>
                <div class="panel-heading">
                    <span><input type="text" class="form-control" placeholder="Name" ng-model="newSensorName"></span>
                </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Signal</th>
                                <th>Pin</th>
                                <th>Direction</th>   
                                <th>Rate</th>
                            </tr>
                            <tr>
                                <td><input required type="text" class="form-control" placeholder="Signal" ng-model="newSensorSignal"></td>
                                <td><input required type="text" class="form-control" placeholder="Pin" type="number" ng-model="newSensorPin"></td>
                                <td><input required type="text" class="form-control" placeholder="Direction" ng-model="newSensorDirection"></td>  
                                <td><input type="text" class="form-control" placeholder="Rate" ng-model="newSensorRefesh"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default btn" ng-click="createSensor()">Create</button>
                    </div>
                </form>
        </div>
        <div class="nav nav-tabs nav-stacked" ng-repeat="sensor in sensors">
            <div class="panel panel-default">
                <div class="panel-heading" ng-hide="sensor.edit">
                    <span>{{sensor.name}}</span>
                </div>
                <div class="panel-body">
                    <table class="table" ng-hide="sensor.edit">
                        <tr>
                            <th>Signal</th>
                            <th>Pin</th>
                            <th>Rate</th>
                            <th>Direction</th>   
                        </tr>
                        <tr>
                            <td>{{sensor.signal}}</td>
                            <td>{{sensor.pin}}</td>
                            <td>{{sensor.refresh}}</td>
                            <td>{{sensor.direction}}</td>  
                        </tr>
                    </table>
                    <div ng-show="sensor.edit">
                       <form>
                            <div class="panel-heading">
                                <span><input value="{{sensor.name}}" type="text" class="form-control" placeholder="Name" ng-model="sensor.name"></span>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>Signal</th>
                                        <th>Pin</th>
                                        <th>Rate</th>
                                        <th>Direction</th>   
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" placeholder="Signal" ng-model="sensor.signal"></td>
                                        <td><input type="text" class="form-control" placeholder="Pin" ng-model="sensor.pin"></td>
                                        <td><input type="text" class="form-control" placeholder="Rate" ng-model="sensor.refresh"></td>
                                        <td><input type="text" class="form-control" placeholder="Direction" ng-model="sensor.direction"></td>  
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-default btn" ng-click="updateSensor(sensor)">Submit</button>
                    </div>
                    <div ng-hide="sensor.edit">
                        <div ng-if="sensor.direction == 'W'">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="sensor.out">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="sendData(sensor)">Send</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="sensor.direction == 'R'">
                            <span><span>Latest value: {{sensor.in}}</span><span class="label label-default" ng-model="sensor.in"></span></span>
                        </div>
                    </div>
                </div>
                <dr>
                <div class="panel-footer">
                    <!--<span ng-class="{'glyphicon glyphicon-pencil': !sensor.edit, 'glyphicon glyphicon-remove': sensor.edit}" ng-click="editSensor($index)"></span>-->
                     <span ng-class="{'glyphicon glyphicon-trash': !sensor.edit}" ng-click="removeSensor($index)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Options</h2>
        <button class="btn btn-default" type="button" ng-click="createNewSensor()">Add sensor to node</button>
    </div>
</div>
