<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>Nodes</h2>
            <div class="nav nav-tabs nav-stacked" ng-repeat="node in nodes">
            	<div class="panel panel-default">
                    <div class="panel-heading" ui-sref="sensor({ id: node.id })" ng-hide="node.edit">
                        <span>{{node.name}}</span>
                    </div>
                    <div class="panel-body">
                        <table class="table" ng-hide="node.edit">
                            <tr>
                                <th>Board</th>
                                <th>Network Interface Controller</th>
                                <th ui-sref="sensor({ id: node.id })"># Sensors</th>
                            </tr>
                            <tr>
                                <td>{{node.board_type}}</td>
                                <td>{{node.nic}}</td>
                                <td ui-sref="sensor({ id: node.id })">{{node.sensors.length}}</td>
                            </tr>
                        </table>
                    <div ng-show="node.edit">
                        <form class="thing-form">
                            <div class="panel-heading">
                                <span><input value="{{node.name}}" type="text" class="form-control" placeholder="Node name" ng-model="node.name"></span>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>Board</th>
                                        <th>Network Interface Controller</th>
                                        <th># Sensors</th>
                                    </tr>
                                    <tr>
                                        <td><input value="{{node.board_type}}" type="text" class="form-control" placeholder="Board type" ng-model="node.board_type"></td>
                                        <td><input value="{{node.nic}}" type="text" class="form-control" placeholder="Node Network Interface Controller" ng-model="node.nic"></td>
                                        <td>{{node.sensors.length}}</td>
                                    </tr>
                                </table>

                        </form>
                        <button type="submit" class="btn btn-default btn" ng-click="updateNode(node)">Submit</button>
                    </div>
                    </div>
                     <div class="panel-footer">
                        <span ng-class="{'glyphicon glyphicon-pencil': !node.edit, 'glyphicon glyphicon-remove': node.edit}" ng-click="editNode(node)"></span>
                        <span ng-class="{'glyphicon glyphicon-trash': !node.edit}" ng-click="removeNode($index)"></span>
                    </div>
                </div>
            </div>
            <p>
            </p>
        </div>
    </div>
</div>
